html{
	font-family: 'Roboto Condensed', sans-serif;
}

#stats_container {
	position: absolute;
	top: 10px;
	background-color: #fff;
	z-index: 999;
	opacity: 0.7;
}

/* Some spacing */
.stat{
	padding: 5px;
}

/* Hiding add stat button */
.add_stat{
	display: none;
	padding: 5px;
	cursor: pointer;
}

/*Menu text no selectable*/
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Centering content to the page */
#content-container{
	text-align: center;
}

#content-container #messages {
	height: 50px;
	text-align: center;
}

#messages p {
	margin: 0;
}

h1{
	margin-bottom: 0;
	padding-bottom: 0;
}

#level_s h2 {
	margin: 5px;
}

#id-display{
	display: none;
}

/* Button */
#save-button{
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#load-button{
	position: absolute;
	bottom: 10px;
	left: 100px;
}

#load-box{
	position: absolute;
	left: 190px;
	bottom: 10px;
	display: none;
}

/* Information */
#information{
	position: absolute;
	right: 10px;
	bottom: 5px;
}
/* Bump up div when screen size forces overlap with save/load buttons */
@media only screen and (max-width: 800px){
	#information{
		bottom: 25px;
	}
}

/* Advert */
#advert{
	width: 728px;
	margin: 0 auto;
}

#game_area {
	border: 1px solid black;
	position: relative;
}

#player {
	border: 2px solid blue;
	position: absolute;
	text-align: center;
}

.enemy {
	border: 2px solid red;
	position: absolute;
	text-align: center;
	top: 20px;
	left: 20px;
}